[Desktop Entry]
Version=1.0
Name=Tint2
Comment=Tint2
Exec=/home/rizki/.config/tint2/main.sh
Icon=tint2
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=false

